/* .connexion {
    display: flex;
    justify-content: space-between;
}
*/

body {
    position: relative;
    background-color: black;
    color: blanchedalmond;
    text-align: justify;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #444;
}


/* .item:nth-child(1) {}

.item:nth-child(2) {}

.item:nth-child(3) {} */

img {
    width: 400px;
}

h2 {
    text-align: center;
}

.categ {
    text-align: center;
}

.arti {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: right;
    font-style: italic;
    left: 0;
    right: 0;
}


/* _______________________________ ?? */


/* .title {
    font-size: 4em;
} */